html {
    overflow-x: hidden;
    /* remove overflow-y */
}
body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    overflow-x: hidden;
    /* background-color: #113459; */
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.page {
    display: flex;
    flex-direction: column;
}

.first-section {
    color:#113459 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /* border-bottom: 1px solid rgba(245, 245, 245, 0.664); */
}
.first-section img {
    width: 100%;
    height: 600px;
    text-align: center;
    opacity: 80%;
}

.page .use-section {
    position: relative;
    width: 72%;
    margin: 2% 0 0 15%;
    padding: 0 0 5% 0;
    display: flex;
    align-items: center;
}
.page .use-section:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 80%;
    background-color: #113459;
    right: 0;
    top: 10%;
    margin-left: 2%;
}
.page .use-section:not(#financial-section) {
    margin-bottom: 5%;
    border-bottom: solid 1px rgba(0,0,0);
}
.page .use-section #finacial-section {
    margin-top: 5%;
}

.page #financial-section {
    margin-top: 0;
}

.use-section-text {
    margin-left: 5%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.use-section-text h4{
    margin: 0;
    color: #113459;
    font-size: 30px;
    font-weight: bold; 
    text-transform: capitalize;
}